.hero {
	background: linear-gradient(0deg, #E73C7E, #23D5AB, #4C9EFC, #23A6D5 );
	background-size: 800% 800%;
	-webkit-animation: Gradient 70s ease infinite;
	-moz-animation: Gradient 70s ease infinite;
	animation: Gradient 70s ease infinite;
    
    padding: 9em 1em;
    
    h1, p {
        line-height: 1.5em;
    }
    
    h1 {
        font-family: 'Raleway', 'Open San', Arial, sans-serif;
        font-size: 2.5em;
        margin-bottom: 0.5em;
    }
    
    p.description {
        font-size: 1.75em;
        margin-bottom: 0.75em;
        font-weight: 700;
    }
    
}